body {
    background-color: aliceblue;
}

header {
    height: 80px;
    background-color: indianred;
    text-align: center;
    vertical-align: central;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    font-style: italic;
    margin-bottom: 35px;
}

.main_content {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    height: 20%;
}

.ui.compact.labeled.icon.menu {
    margin-top: 16px;
}

.ui.message {
    margin-left: 50px;
    width: 80%;
}

footer {
    margin: 50px auto;
    width: 100%;
    border: 5px solid white;
    padding: 10px;
    text-align: center;
    font-style: italic;
    display: flex;
    justify-content: center;
    bottom: 0;
    flex-direction: column;
    font-size: 16px;
}